@import '_fonts.scss';
@import 'animation.scss';

@import 'typograpy.scss';
@import 'style.module.scss';
@import 'partnersHomepage.scss';
@import 'sliderStyle.scss';

.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor-pointer {
	cursor: pointer;
}

.rounded {
	border-radius: 0.25rem;
}

.underline {
	cursor: pointer;
	text-decoration: underline;
}

.w-full {
	width: 100%;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

.list-dot {
	&::before {
		content: '·';
		font-weight: 700;
		margin-right: 4px;
	}
}

.password-mark {
	& input {
		font-family: 'Password Mark';
		font-size: 1rem;
	}
	& input::placeholder {
		color: #aeaeba;
	}
}
