@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import '_fonts.scss';
@import 'animation.scss';

@import 'typograpy.scss';
@import 'style.module.scss';

.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor-pointer {
	cursor: pointer;
}

.rounded {
	border-radius: 0.25rem;
}

.underline {
	cursor: pointer;
	text-decoration: underline;
}

.w-full {
	width: 100%;
}
